body {
font-size: 16px !important;
}



.hcPageHeaderSimple {
display: flex;
flex-direction: row;
justify-content: space-between;
font-size: 0.9rem;
width: 100%;
}

.hcPageHeaderSimple > * {
height: 100%;
display: flex;
align-items: center;
}

.hcBrand {
display: flex;
flex-direction: row;
justify-content: flex-start;
height: 100%;
margin-top: -10px;
}

.hcTitle {
display: inline-block;
font-weight: bold;
font-size: 24px;
padding-top: 18px;
}

.pageHeader {
margin-bottom: 1rem;
background-color: #082045;
color: #fff;
}

.pageHeader a {
color: #fff;
}

.pageHeaderAfter {
margin-bottom: 5rem;
border-bottom: 1px solid #ededed;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,700,700i");

html,
body {
padding: 0;
margin: 0;
}

* {
box-sizing: border-box;
}

a {
color: #0087d4;
text-decoration: none;
}

html {
font-size: 100%;
}

body {
font-family: "Roboto", sans-serif;
font-weight: 300;
font-size: 18px;
line-height: 140%;
font-style: normal;
background-color: #fff;
color: #3e3e3e;
margin: 0;
padding: 0;
}

h1 {
font-size: 1.5em;
line-height: 130%;
font-weight: 700;
}

h2 {
font-size: 1.3em;
line-height: 130%;
font-weight: 700;
}

h1, h2 {
margin-top: 0;
margin-bottom: 0.3em;
}

@media (min-width: 600px) {
body {
font-size: 18px;
line-height: 150%;
}

h1 {
font-size: 2em;
}

h1, h2 {
line-height: 150%;
}



select {
background-color: none;
}
}

p {
margin-top: 0;
margin-bottom: 1em;
}

strong {
font-weight: 700;
}

button {
font-size: 0.7rem;
padding: 0.5rem;
border-radius: 4px;
background-color: rgba(0, 0, 0, 0.07);
border: 1px solid rgba(0, 0, 0, 0.09);
cursor: pointer;
font-weight: 700;
margin: 0 0.3rem;
max-height: 40px;
}

input, select, option, textarea {
width: 100%;
padding: 0.5rem;
border: 1px solid #e1ebf3;
border-radius: 4px;
font-size: 1rem;
font-weight: 300;
color: #3e3e3e;
height: 40px;
}

input[type=checkbox] {
width: 20px;
height: 20px;
}

input::placeholder {
color: gray;
font-style: italic;
font-size: 0.85rem;
}

.hcContentContainer {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
margin-bottom: 40px;
}

.hcTxtColorGreyMid {
color: #666666;
}

.hcSmallTxt {
font-size: 0.85rem;
}

.hcBasicSideMargin {
padding-left: 2rem;
padding-right: 2rem;
}

.hcMarginBottom1 {
margin-bottom: 1rem;
}

.hcMarginBottom2 {
margin-bottom: 2rem;
}

.hcResultsHeader {
display: flex;
justify-content: space-between;
}

.hcContentContainer > * {
width: 100%;
max-width: 1200px;
}

.hcLayoutFacet-Result {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.hcLayoutFacets {
width: 100%;
}

.hcLayoutResults {
width: 100%;
}

.hcLayoutFacetsToggel {
display: flex;
height: 230px;
flex-direction: row;
overflow-x: auto;
background-color: #fafafa;
}

.hcLayoutFacetsToggel div {
width: 250px;
margin-right: 3rem;
}

@media (min-width: 800px) {
.hcLayoutFacet-Result {
flex-direction: row;
}

.hcLayoutFacets {
width: 350px;
}

.hcLayoutResults {
width: calc(100% - 350px);
}

.hcLayoutFacetsToggel {
display: block;
overflow-x: none;
height: auto;
flex-direction: column;
background: none;
}

.hcLayoutFacetsToggel div {
width: 100%;
margin-right: auto;
}
}

.hcFacet {
margin-bottom: 1rem;
max-width: 250px;
font-size: 0.85rem;
}

.hcFacetItems {
display: flex;
flex-direction: column;
}

.hcFacetItem {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.hcFacetItem .hcFacetItemSpan {
display: flex;
flex-direction: row;
align-items: center;
height: 15px;
}

.hcFacetItem .hcFacetItemSpan input[type=checkbox] {
width: 15px;
background-color: #eee090;
}

.hcFacetItemSelected {
font-weight: 700;
}

.hcFacetTitle {
text-transform: uppercase;
font-size: 0.85rem;
font-weight: 700;
display: flex;
flex-direction: row;
justify-content: space-between;
cursor: pointer;
}

.hcFacetCount {
color: #666666;
}

.hcFacetSearch {
display: flex;
justify-content: space-between;
}

.hcFacetSearch input {
border-radius: 4px 0 0 4px;
border-right: 0;
}

.hcFacetSearch button {
margin: 0;
border-radius: 0 4px 4px 0;
}

.hcSelectedFacet {
font-size: 0.85rem;
padding: 0.2rem 0.5rem;
background-color: #f6f6f6;
border-radius: 3px;
margin: 0 0.5rem 0.5rem 0;
cursor: pointer;
display: block !important;
}

.hcSelectedFacet:after {
margin-left: 0.3rem;
opacity: 0.4;
}

.hcSelectedFacetType {
color: rgba(0, 0, 0, 0.4);
font-style: italic;
margin-right: 0.3rem;
}

.hcFacetFilter input {
padding: 0.3rem;
font-size: 0.85rem;
height: auto;
border: 1px solid #ebebeb;
}

.hcFacetFilter input::placeholder {
font-style: italic;
color: rgba(0, 0, 0, 0.4);
}

.hcFacetHelp {
display: none;
position: absolute;
background-color: #25a39a;
padding: 0.5rem;
width: 250px;
}

.hcPagination {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.hcPagination > * {
margin: 0 0.5rem;
}

.hcPagination a {
padding: 0.5rem;
}

.hcTxtColorGreyMid {
color: #999999;
}

.hcSmallTxt {
font-size: 0.9rem;
}

.hcClickable {
color: #0087d4;
cursor: pointer;
display: inline;
}

.hcClickableList {
color: #0087d4;
cursor: pointer;
}


.hcPageSelector {
height: 36px;
font-size: 12px !important;
}

.hcFacetItem {
cursor: pointer;
}

.hcFacetReset {
float: right;
}

.hcFacetValues {
margin-right: 4px;
}

.bgColorBrand1 {
background-image: none !important;
background-color: rgb(0, 53, 100);
}

.hcSiteTitle {
color: #eee;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
font-size: 20px;
margin: 36px 0 0 0;
cursor: pointer;
}


.hcMarginBottom1 {
margin-bottom: 1rem;
}

.hcMarginBottom2 {
margin-bottom: 2rem;
}

.hcMarginBottom3 {
margin-bottom: 3rem;
}

.hcMarginBottom5 {
margin-bottom: 5rem;
}

.hcMarginBottom15 {
margin-bottom: 15rem;
}

.hcMarginTop1 {
margin-top: 1rem;
}

.hcMarginTop2 {
margin-top: 2rem;
}

.hcMarginTop3 {
margin-top: 3rem;
}

.hcMarginTop5 {
margin-top: 5rem;
}
.hcPageHeaderSimple {
display: flex;
flex-direction: column;
justify-content: space-between;
font-size: .9rem;
width: 100%;
}

.hcPageHeaderSimple .navi {
display: flex;
flex-direction: row;
align-items: baseline;
line-height: 130%;
height: 100px;
margin-top: -10px;
}

.hcPageHeaderSimple .navi a, .hcPageHeaderSimple .navi div {
padding: 1.5rem 1rem;
display: flex;
color: #fff;
align-items: center;
cursor: pointer;
font-weight: bold;
}

.hcPageHeaderSimple .navi a:hover {
background-color: rgba(255, 255, 255, 0.11);
}

.hcPageHeaderSimple nav a:first-child {
margin-left: -1rem;
}

.hcResultListDetail h2 a {
color: #444444 !important;
font-size: smaller;
}

.hcResultListDetail h2 {
margin-top: 18px;
margin-bottom: 2px !important;
}

li em{
color: #777;
}

.detailItemTable{
display: table;
margin-bottom: 30px;
}

.detailItemRow{
display: table-row;
}



.detailItemLabel{
font-weight: bold;
color:#333333;
width: 400px;
margin-top: 20px;
}

.sportListItem {
cursor: pointer;
color: #0087d4;
}
.sportMenuItem{
cursor: pointer;
}

.sportList{
margin-bottom: 12px;
}

span {
display: inline-block !important;
}

.notenLijst > * em {
font-weight: normal;
}

.notenLijst {
margin-bottom: 40px;
}

.voetbalTabel {
border: 1px solid #000000;
width: 100%;
margin: 10px 0 20px 0;
}

.picSubScript{
font-style: italic;
font-size: smaller;
margin-bottom: 14px;
}

.centerImage{
width: 100%;
margin: 20px 0;
}

.hcResultListDetail{
border-bottom: #cccccc solid 1px;
padding-bottom: 12px;
}

.detailArea{
display: table-cell;
padding-bottom: 20px;
width: 60%;
}

.letterArea {
display: table-cell;
}

.lettersInfo{
display: block;
padding: 10px 14px;
margin-left: 20px;
background-color: #eeeeee;
border: 1px solid #666666;
font-size: smaller;
font-weight: bold;
}

b{
font-weight: bold;
}

.detailView {
display: table-row;
width: 40%;
}

.letterLink{
cursor: pointer;
color:#003564;
}

.locationMap{
display: block;
margin-top: 20px;
width: 600px;
height: 400px;
border: 1px solid #666666;
}

.hcParagraph{
display: block;
width:60%;
margin-bottom: 20px;
}

.detailRowLabel, .detailRowText {
display: inline-block;
}

.detailRowLabel, .detailColumnLabel{
width: 200px;
font-weight: bold;
vertical-align: top;
}

.hcAanstelling{
background-color: #eeeeee;
border: 1px solid #999999;
border-radius: 4px;
padding: 4px 6px;
font-size: smaller;
margin: 4px 0;
}

.checkBoxLabel:hover{
color:#30799B;
}

.linkedHeader{
font-weight: bold;
cursor: pointer;
margin: 10px 0 6px 0;
font-size: larger;
}

.sliderTrack{
border-top: 1px solid #eeeeee !important;
width: 100% !important;
opacity: 0.5;
}

.textBlob{
display: block;
width: 50% !important;
}

.boldParagraph{
font-weight: bold;
padding-top: 20px !important;
}

.boldParagraph:first-child{
padding-top: inherit !important;
}

sup{
padding-right: 4px;
}
